Timmy/packages/Grpc.Core.1.18.0/native/android/x86/libgrpc_csharp_ext.so
Timmy/packages/Grpc.Core.1.18.0/Grpc.Core.1.18.0.nupkg
Timmy/packages/Grpc.Core.1.18.0/runtimes/linux/native/libgrpc_csharp_ext.x86.so
Timmy/packages/Grpc.Core.1.18.0/native/ios/universal/libgrpc_csharp_ext.a
Timmy/packages/Grpc.Core.1.18.0/native/android/armeabi-v7a/libgrpc_csharp_ext.so
Timmy/packages/Grpc.Core.1.18.0/runtimes/osx/native/libgrpc_csharp_ext.x64.dylib
Timmy/packages/Grpc.Core.1.18.0/native/android/arm64-v8a/libgrpc_csharp_ext.so
Timmy/packages/Grpc.Core.1.18.0/runtimes/osx/native/libgrpc_csharp_ext.x86.dylib
Timmy/packages/Grpc.Core.1.18.0/native/ios/universal/libgrpc.a
Timmy/packages/Grpc.Core.1.18.0/runtimes/linux/native/libgrpc_csharp_ext.x64.so
